<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>گیم نت</title>
</head>

<body>


{% if messages %}

{% for message in messages %}

<p>

    {{ message }}
</p>

{% endfor %}

{% endif %}
<nav>

    <a href="{% url 'device_list' %}">
        دستگاها
    </a>

    |

    {% if user.is_authenticated %}
    {% if perms.reservations.can_view_all_reservations %}

    <a href="{% url 'all_reservations' %}">
        مدیریت رزروها
    </a>

    |

    {% endif %}

    <a href="{% url 'my_reservations' %}">
        رزروهای من
    </a>

    |

    <a href="{% url 'logout' %}">
        خروج
    </a>

    {% else %}

    <a href="{% url 'login' %}">
        ورود
    </a>

    |

    <a href="{% url 'register' %}">
        ثبت‌نام
    </a>

    {% endif %}

</nav>

<hr>


{% block content %}

{% endblock %}


</body>

</html>